@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #FF838E 0%, #FFC9CE 0.01%, #FFF6EE 100%);
    display: flex;
}

.main {
    position: relative;
    width: 1440px;
}


/* Header */

header {
    text-align: center;
}

header a {
    text-decoration: none;
    font-size: 62px;
    line-height: 108px;
    color: #EF567D;
}


/* Love Days */

.love-days {
    width: 310px;
    height: 110px;
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(39, 255, 216, 0.2) 0%, rgba(249, 44, 253, 0.2) 100%);
    border-radius: 50px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.love-days data {
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

date,
time {
    display: block;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #EF567D;
}

#timer {
    font-size: 2.4rem;
    line-height: 3rem;
}


/* Avatar */

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar div {
    margin: 0 40px;
    text-align: center;
}

.avatar img {
    width: 200px;
    height: 200px;
}

.avatar p {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #EF567D;
}

.heart img {
    width: 120px;
    height: 120px;
}


/* Music */

.music {
    display: flex;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    width: 380px;
    height: 78px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(39, 255, 216, 0.25) 0%, rgba(249, 44, 253, 0.25) 100%);
}

.music i {
    margin: auto;
    padding: 0 2rem;
}

.music img {
    width: 38px;
    height: 38px;
}

.timer {
    width: 150px;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(90deg, #2769FF 0%, #C22CFD 100%);
}


/* Footer */

footer {
    text-align: center;
    font-size: 1.2rem;
    color: #EF567D;
}